<div class="preview-controls controls-right">
  <button
    tuiButton
    icon="tuiIconDownload"
    type="button"
    size="s"
    appearance="primary"
    (click)="downloadPDF()"
    [showLoader]="isPdfLoading()"
    [disabled]="isPdfLoading()"
  >
    Скачать
  </button>
</div>
<div #container class="preview-container">
  <div class="page" [style]="transform()">
    @if (cv()) {
    <ng-container
      #template
      *ngComponentOutlet="cvTemplate; inputs: cvTemplateInputs()"
    ></ng-container>
    }
  </div>
</div>
<div class="preview-controls">
  <div class="page-switch" tuiMode="onDark">
    <button
      icon="tuiIconChevronLeft"
      tuiIconButton
      type="button"
      size="xs"
      appearance="flat"
      (click)="previousPage()"
      [disabled]="prevPageButtonDisabled()"
    ></button>
    <div class="page-switch__pages">
      {{ currentPageIndex() + 1 }} / {{ pagesCount() }}
    </div>
    <button
      icon="tuiIconChevronRight"
      tuiIconButton
      type="button"
      size="xs"
      appearance="flat"
      (click)="nextPage()"
      [disabled]="nextPageButtonDisabled()"
    ></button>
  </div>
</div>
