<div #templateContentWrapper class="template-content-wrapper">
  <!-- Personal info -->
  <div #cvBlock class="header">
    <div class="personal">
      <div class="data">
        <div class="name">{{ cvData?.firstName }} {{ cvData?.lastName }}</div>
        <div class="job-title">{{ cvData?.title }}</div>
        <div class="details">
          @if (cvData?.city) {
          <span class="city">
            <img
              class="icon"
              src="https://img.icons8.com/ios-filled/50/marker.png"
              alt="marker"
            />
            {{ cvData?.city }}
          </span>
          } @if (ageFormatted) {
          <span class="age">
            <img
              class="icon"
              src="https://img.icons8.com/ios-filled/50/information.png"
              alt="info"
            />
            Возраст: {{ ageFormatted }}
          </span>
          }
        </div>
      </div>
      <div class="photo">
        @if (cvData?.photo) {
        <img [src]="cvData?.photo" alt="" />
        }
      </div>
    </div>
  </div>

  <!-- Contacts -->
  <div #cvBlock class="cv-block">
    <div class="contacts">
      <div class="block-header">Контакты</div>
      <div class="break"></div>
      <div class="block-content">
        @if (cvData?.contacts?.email) {
        <div class="email">
          <img
            class="icon"
            src="https://img.icons8.com/ios-filled/50/email.png"
            alt="email"
          />
          {{ cvData?.contacts?.email }}
        </div>
        } @if (cvData?.contacts?.phone) {
        <div class="phone">
          <img
            class="icon"
            src="https://img.icons8.com/ios-filled/50/phone.png"
            alt="phone"
          />
          {{ phoneFormatted }}
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Experience -->
  @if (cvData?.experience?.length) {
  <div #cvBlock class="cv-block">
    <div class="experience">
      <div class="block-header">Опыт работы</div>
      <div class="break"></div>
      <div class="block-content">
        @for (experience of cvData?.experience; track $index) {
        <div class="block-element">
          <div class="past-title">
            <div class="title">
              <div>{{ experience.employer }}</div>
              <div>{{ experience.jobTitle }}</div>
            </div>
            <div class="period">
              {{
                timePeriodFormatted(experience.monthStart, experience.monthEnd)
              }}
            </div>
          </div>
          <div
            class="past-description"
            [innerHTML]="experience.description"
          ></div>
        </div>
        }
      </div>
    </div>
  </div>
  }

  <!-- Education -->
  @if (cvData?.education?.length) {
  <div #cvBlock class="cv-block">
    <div class="education">
      <div class="block-header">Образование</div>
      <div class="break"></div>
      <div class="block-content">
        @for (education of cvData?.education; track $index) {
        <div class="block-element">
          <div class="past-title">
            <div class="title">
              <div>{{ education.schoolTitle }}</div>
              <div>{{ education.faculty }}, {{ education.speciality }}</div>
              <div>{{ education.level }}</div>
            </div>
            <div class="period">
              {{
                timePeriodFormatted(education.monthStart, education.monthEnd)
              }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>

<div
  #templatePageView
  [style]="templatePageViewStyle"
  class="tpl-minimal"
></div>
