<div
  #templateContentWrapper
  class="tpl-minimal template-content-wrapper"
  [style]="rootStyle"
>
  <!-- Personal -->
  <div #cvBlock class="header">
    <div class="header__content">
      <div class="header__personal">
        <div class="header__name">
          {{ cvData?.firstName }} {{ cvData?.lastName }}
        </div>
        <div class="header__job">{{ cvData?.title }}</div>
        <div class="header__details">
          @if (infoFormatted) {
          <div class="header__age">
            <img
              class="icon"
              src="https://img.icons8.com/ios-filled/50/information.png"
              alt="info"
            />
            {{ infoFormatted }}
          </div>
          } @if (cvData?.contacts?.phone) {
          <div class="header__phone">
            <img
              class="icon"
              src="https://img.icons8.com/ios-filled/50/phone.png"
              alt="phone"
            />
            {{ phoneFormatted }}
          </div>
          } @if (cvData?.contacts?.email) {
          <div class="header__email">
            <img
              class="icon"
              src="https://img.icons8.com/ios-filled/50/email.png"
              alt="email"
            />
            {{ cvData?.contacts?.email }}
          </div>
          }
        </div>
      </div>
      <div class="header__photo">
        @if (cvData?.photo) {
        <img [src]="cvData?.photo" alt="" />
        }
      </div>
    </div>
  </div>

  <!-- Experience -->
  @if (cvData?.experience?.length) {
  <div #cvBlock class="block-title">
    <div class="block-title__title">Опыт работы</div>
    <div class="block-title__break"></div>
  </div>
  @for (experience of cvData?.experience; track $index) {
  <div #cvBlock class="block-header">
    <div class="block-header__title">
      <div class="post-title">{{ experience.employer }}</div>
      <div class="post-date">
        {{ timePeriodFormatted(experience.monthStart, experience.monthEnd) }}
      </div>
    </div>
    <div class="block-header__subtitle">
      <div>{{ experience.jobTitle }}</div>
    </div>
  </div>
  <div
    #cvBlock
    class="block-content"
    [innerHTML]="experience.description"
  ></div>
  } }

  <!-- Education -->
  @if (cvData?.education?.length) {
  <div #cvBlock class="block-title">
    <div class="block-title__title">Образование</div>
    <div class="block-title__break"></div>
  </div>

  @for (education of cvData?.education; track $index) {
  <div #cvBlock class="block-header">
    <div class="block-header__title">
      <div class="post-title">{{ educationTitleFormated(education) }}</div>
      <div class="post-date">
        {{ timePeriodFormatted(education.monthStart, education.monthEnd) }}
      </div>
    </div>
    <div class="block-header__subtitle">
      <div>{{ educationFormated(education) }}</div>
    </div>
  </div>
  } }

  <!-- Skills -->
  @if (cvData?.skills?.length) {
  <div #cvBlock class="block-title">
    <div class="block-title__title">Навыки</div>
    <div class="block-title__break"></div>
  </div>

  <div #cvBlock class="skills-block">
    @for (skill of cvData?.skills; track $index) { @if (skill.skillTitle) {
    <div class="skills-block__wrapper">
      <div class="skills-block__skill">
        {{ skill.skillTitle }}
      </div>
    </div>

    } }
  </div>
  }

  <!-- Languages -->
  @if (cvData?.languages?.length) {
  <div #cvBlock class="block-title">
    <div class="block-title__title">Иностранные языки</div>
    <div class="block-title__break"></div>
  </div>

  <div #cvBlock class="skills-block">
    @for (language of cvData?.languages; track $index) { @if (language.langTitle
    && language.level) {
    <div class="skills-block__wrapper">
      <div class="skills-block__skill">
        <div>
          {{ language.langTitle }}
        </div>
        <div class="skills-block__lang-level">
          {{ language.level.label }}
        </div>
      </div>
    </div>
    } }
  </div>
  }

  <!-- About -->
  @if (cvData?.about) {
  <div #cvBlock class="block-title">
    <div class="block-title__title">О себе</div>
    <div class="block-title__break"></div>
  </div>

  <div #cvBlock class="about-block" [innerHTML]="cvData?.about"></div>
  }
</div>

<!-- Paged View -->
<div
  #templatePageView
  [style]="templatePageViewStyle"
  [style]="rootStyle"
  class="tpl-minimal paged-view"
></div>
