<div #templateContentWrapper class="template-content-wrapper">
  <div #cvBlock class="cv-block">
    <div class="personal">
      <div class="data">
        <div class="name">{{ cvData?.firstName }} {{ cvData?.lastName }}</div>
        <div class="job-title">{{ cvData?.title }}</div>
        <div class="details">
          <span class="city">{{ cvData?.city }}</span>
          <span class="age">Возраст: {{ cvData?.age }}</span>
        </div>
      </div>
      <div class="photo">
        <img [src]="cvData?.photo" alt="" />
      </div>
    </div>
  </div>
</div>

<div
  #templatePageView
  [style]="templatePageViewStyle"
  class="tpl-minimal"
></div>
