@import '@taiga-ui/core/styles/taiga-ui-local.less';

.tile-content {
  padding: 1rem;
  border: 1px solid var(--tui-base-03);
  border-radius: var(--tui-radius-l);
  background-color: var(--tui-base-01);
}
