@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap);

.tpl-minimal {
  padding: var(--template-padding);
  font-family: 'Manrope', serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
  border-color: var(--primary-color-1);
  border-style: solid;
  border-width: 0 0 0 44px;
  height: 100%;
  background-color: #fff;
}

@page {
  border-color: var(--primary-color-1);
  border-style: solid;
  border-width: 0 0 0 44px;
}

@media print {
  .tpl-minimal {
    border: none;
  }
}

.tpl-minimal .page-break {
  page-break-before: always;
}

.tpl-minimal.template-content-wrapper {
  height: 0;
  padding: 0;
  border: none;
}

.tpl-minimal input[type='checkbox'] {
  opacity: 1;
  position: relative;
  pointer-events: none;
}

.tpl-minimal input[type='checkbox']:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
}

.tpl-minimal input[type='checkbox']:checked:before {
  background-color: #000;
}

.tpl-minimal .icon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 2px;
}

.tpl-minimal .block-title {
  padding-top: var(--padding-1);
}

.tpl-minimal .block-title__title {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 800;
}

.tpl-minimal .block-title__break {
  border-bottom: 2px solid #d4d4d4;
  position: relative;
}

.tpl-minimal .block-title__break::before {
  content: '';
  position: absolute;
  bottom: -1;
  left: 0;
  width: 68px;
  height: 2px;
  background-color: #111;
}

.tpl-minimal ul {
  padding-top: 0.2em;
  list-style: disc;
  padding-left: 1.5em;
}

.tpl-minimal ul[data-type='taskList'] {
  list-style: none;
  padding-left: 1.5em;
}

.tpl-minimal ol {
  padding-top: 0.2em;
  list-style: decimal;
  padding-left: 1.5em;
}

.tpl-minimal li {
  padding-bottom: 0.2em;
}

.tpl-minimal ul[data-type='taskList'] li {
  display: flex;
  align-items: center;
}

.tpl-minimal ul[data-type='taskList'] li label {
  margin-right: 0.5em;
}

.tpl-minimal .header__content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  min-height: 124px;
}

.tpl-minimal .header__personal {
  flex: 1;
}

.tpl-minimal .header__name {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 700;
}

.tpl-minimal .header__job {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 500;
}

.tpl-minimal .header__details {
  padding-top: 0.25em;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

.tpl-minimal .header__photo {
  width: 120px;
  height: 120px;
}

.tpl-minimal .header__photo img {
  border-radius: 4px;
  width: 120px;
  height: 120px;
}

.tpl-minimal .block-header {
  padding-top: var(--padding-2);
  line-height: 1.5;
  color: #737373;
}

.tpl-minimal .block-header__title {
  display: flex;
  justify-content: space-between;
}

.tpl-minimal .post-title {
  font-weight: 800;
  width: 65%;
  color: #000;
}

.tpl-minimal .block-content {
  padding-top: var(--padding-3);
  padding-left: 1em;
}

.tpl-minimal .skills-block {
  padding-top: var(--padding-2);
  display: flex;
  flex-wrap: wrap;
}

.tpl-minimal .skills-block__wrapper {
  padding-right: 0.375em;
  padding-top: 0.375em;
}

.tpl-minimal .skills-block__skill {
  background-color: var(--primary-color-2);
  padding: 4px 12px;
  border-radius: 4px;
  text-align: center;
}

.tpl-minimal .skills-block__lang-level {
  color: #737373;
  font-size: 0.75em;
}

.tpl-minimal .about-block {
  padding-top: var(--padding-2);
}
