@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap);

.tpl-minimal {
  padding: 32px 44px;
  font-family: 'Manrope', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  border-left: 44px solid #cbd5e1;
  height: 100%;
}

.tpl-minimal .cv-block {
  margin-top: 2em;
}

.tpl-minimal .block-header {
  font-size: 1.5em;
  font-weight: 800;
}

.tpl-minimal .block-content {
  margin-top: 1.5em;
}

.tpl-minimal .icon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 2px;
}

.tpl-minimal .break {
  margin-top: 1em;
  border-bottom: 2px solid #d4d4d4;
  position: relative;
}

.tpl-minimal .break::before {
  content: '';
  position: absolute;
  bottom: -1;
  left: 0;
  width: 68px;
  height: 2px;
  background-color: #111;
}

.tpl-minimal ul {
  list-style: disc;
  padding-left: 1.5em;
}

.tpl-minimal ul li {
  margin-bottom: 0.5em;
}

.tpl-minimal .personal {
  display: flex;
  justify-content: space-between;
  align-items: top;
  min-height: 124px;
}

.tpl-minimal .personal .data .name {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 700;
}

.tpl-minimal .personal .data .job-title {
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0.5em;
}

.tpl-minimal .personal .data .details {
  margin-top: 0.5em;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 400;
}

.tpl-minimal .personal .data .details span:not(:last-child) {
  margin-right: 2.25em;
}

.tpl-minimal .photo img {
  border-radius: 4px;
  width: 120px;
  height: 120px;
}

.tpl-minimal .contacts .block-content div {
  display: inline-block;
  width: 50%;
}

.tpl-minimal .block-content .block-element {
  margin-bottom: 1.875em;
}

.tpl-minimal .block-element .past-title {
  display: flex;
  justify-content: space-between;
}

.tpl-minimal .block-element .past-title .title {
  color: #737373;
  width: 65%;
}

.tpl-minimal .block-element .past-title .title div:nth-child(1) {
  font-weight: 800;
  margin-bottom: 0.25em;
  color: #000;
}

.tpl-minimal .block-element .past-title .period {
  font-size: 0.875em;
  color: #737373;
  width: max-content;
  text-align: right;
}

.tpl-minimal .block-element .past-description {
  padding-left: 1em;
  margin-top: 0.5em;
}

.tpl-minimal .skills .block-content .skill {
  background-color: #f1f5f9;
  padding: 4px 12px;
  border-radius: 4px;
  margin-right: 0.875em;
  display: inline-block;
}
