<main [tuiMode]="'onDark'">
  <section class="select-template tui-space_vertical-5">
    <div class="content">
      <h1 class="main-header">Выберите вид своего резюме.</h1>

      <div class="templates">
        @for (template of selectTemplates; track $index) {
        <div class="templates__cell">
          <a [routerLink]="['/cv/edit']" tuiLink class="templates-card">
            <img
              [ngSrc]="template.preview"
              [width]="256"
              [height]="362"
              [priority]="true"
              class="templates-card__preview"
              [alt]="template.title"
            />
          </a>
        </div>
        }
        <div class="templates__cell">
          <div class="templates-card">
            <div class="templates-card__soon">
              Скоро будут доступны ёще шаблоны
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
