<div [formGroup]="cvForm">
  <div
    formArrayName="experience"
    class="experience"
    cdkDropList
    (cdkDropListDropped)="onExperienceItemDrop($event)"
  >
    @for (experience of cvForm.controls.experience.controls; let idx = $index;
    track idx; ) {
    <div class="experience-item" cdkDrag cdkDragPreviewContainer="parent">
      <app-cv-block-item
        [title]="getExperienceTitle(experience)"
        [subtitle]="getExperienceSubtitle(experience)"
        (deleteItem)="onDeleteExperience(idx)"
      >
        <tui-svg
          ngProjectAs="drag-handle"
          src="tuiIconDrag"
          cdkDragHandle
        ></tui-svg>
        <fieldset [formGroupName]="idx">
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input formControlName="jobTitle">
                Должность
                <input tuiTextfield type="text" />
              </tui-input>
            </div>
            <div class="tui-form__multi-field">
              <tui-input formControlName="employer">
                Компания
                <input tuiTextfield type="text" />
              </tui-input>
            </div>
          </div>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input-month
                formControlName="monthStart"
                tuiTextfieldSize="l"
                [tuiTextfieldCleaner]="true"
              >
                Начало
              </tui-input-month>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-month
                formControlName="monthEnd"
                tuiTextfieldSize="l"
                [tuiTextfieldCleaner]="true"
              >
                Окончание
              </tui-input-month>
            </div>
          </div>
          <div class="tui-form__row">
            <tui-editor
              formControlName="description"
              [tools]="editorTools"
              class="description-editor"
            >
              Обязанности и достижения
            </tui-editor>
          </div>
        </fieldset>
      </app-cv-block-item>
    </div>
    }
  </div>

  <app-add-cv-block-item-button (clicked)="onAddExperience()">
    Добавить опыт работы
  </app-add-cv-block-item-button>
</div>
