.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 356px;
  //   background-color: #4338ca;
  background-color: var(--app-support-01);

  section {
    width: 100%;

    .content {
      padding: 0 1rem;
      text-align: left;
    }
  }

  section.hero {
    font-size: 0.7vw;

    .main-header {
      font-size: 7.2em;
      line-height: 110%;
      width: 70%;
    }

    .content {
      h1 {
        color: var(--tui-text-01-night);
      }

      .description,
      .privacy-note {
        color: var(--tui-text-01-night);
        font-size: 2.2em;
        margin-bottom: 1em;
      }
    }
  }
}

.create-cv {
  padding: 1rem 1rem 4vh 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1em;
    border: 2px solid var(--tui-text-01-night);
    border-radius: 0.75rem;
    text-align: center;
    color: var(--tui-text-01-night);
    background-color: var(--app-support-01);
    transition: all 0.2s;
    height: max-content;

    &:hover {
      background-color: var(--tui-text-01-night);
      color: var(--app-support-01);
    }
  }
}
