<main class="main" [tuiMode]="'onDark'">
  <section class="hero tui-space_vertical-5">
    <div class="content">
      <h1 class="main-header">Создайте своё идеальное резюме</h1>
      <div class="description">
        Используйте наши стильные шаблоны. Абсолютно бесплатно.
      </div>
      <div class="privacy-note">
        Ваши данные остаются Вашими. Мы не сохраняем никакой информации о Вас.
      </div>
    </div>
    <div class="create-cv">
      <a [routerLink]="['templates']"> Составить резюме </a>
    </div>
  </section>
</main>
