<main class="main" [tuiMode]="'onDark'">
  <section class="hero tui-space_vertical-5">
    <div class="content">
      <h1 class="main-header">Конструктор вашего резюме.</h1>
      <div class="description">Используйте наши шаблоны. Бесплатно.</div>
      <div class="privacy-note">
        Ваши данные остаются вашими. Мы не храним никакой информации о вас.
      </div>
    </div>
    <div class="create-cv">
      <a [routerLink]="['templates']"> Составить резюме </a>
    </div>
  </section>
</main>
