.editor {
  .form,
  .preview {
    padding: 0.5rem 1rem;
    width: 50%;
  }

  .form {
    background-color: var(--tui-base-01);
  }

  .preview {
    background-color: var(--tui-base-07);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
