<main
  class="editor"
  appTopBottomReached
  (isReached)="expandMobileControl()"
  (isMissed)="shrinkMobileControl()"
>
  <div class="form" [class.hidden]="showMobilePreview">
    <app-cv-edit-form [cvForm]="cvForm" />

    <div class="form-footer">
      <a tuiLink routerLink="/" icon="tuiIconHome" iconAlign="left">
        okresume.ru
      </a>
    </div>
  </div>

  <div class="preview" [class.active]="showMobilePreview">
    <app-cv-edit-preview />
  </div>
  <div class="mobile-control">
    @if (isMobileControlExpanded ) {
    <button
      tuiButton
      [icon]="mobileControlButton.icon"
      type="button"
      size="l"
      appearance="primary"
      (click)="tooglePreview()"
    >
      {{ mobileControlButton.label }}</button
    >} @else {
    <button
      tuiIconButton
      [icon]="mobileControlButton.icon"
      type="button"
      size="l"
      appearance="primary"
      (click)="tooglePreview()"
    ></button>
    }
  </div>
</main>
